.menu_container
  %ul.menu
    %li.wide.negative_letter_spacing.text_large= link_to raw('Benjamin<font class="grey bold">Harris</font>'), root_path
    %li= link_to 'works', works_path
    %li= link_to 'services', services_path
    %li= link_to raw('about<font class="grey">me</font>'), about_path
    %li= link_to 'blog', blog_path
  
  %br
  %ul.menu
    %li.wide.text_right.cursive= link_to 'creative', root_path
    %li &nbsp;
    %li &nbsp;
    %li &nbsp;
    %li &nbsp;

.clear
  